@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    background-color:rgb(150, 150, 150);
}

#headerInfo{
  background: black;
  color: white;
  font-weight: bold;
  text-align: left;
  font-family: "Varela Round";
  overflow: hidden;
  width:100%;
  position: fixed;
  top:0;
  left:0;

}

#iParkHeading{
  padding-left:5px;
}

.Main{
  text-align:center
  color:rgb(46, 194, 194);

}
#img{
  display: block;
  //position: fixed;
  //margin-left: auto;
  //margin-right: auto;
  margin: auto;
  width: auto;
  padding-bottom: 10px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  top:0;
  left:0;
  //z-index: -1;

    

}



/* .outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */

.middle {
  //display: table-cell;
      //display: table-cell;

}

.inner {
  margin: auto;
  width: 75%;
  
  padding: 10px;
  background: white;
  color: rgb(46, 194, 194);
  font-weight: bold;
  text-align: center;
  font-family: "Varela Round";
  color:black;
  /*whatever width you want*/
}

#step1{
  text-align:center;
}

#instructions{
  width: auto;
  max-width: 100px;
  top:0;
  left:0;
  right:0;
}